@use 'vuetify' with (
  $utilities: false,
  $color-pack: false
);
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$app-primary: #f4e041;
$app-primary-muted: #ffe302;
$app-secondary: #00bdd3;
$app-bg: #f8f8f8;

html,
body {
  margin: 0;
  padding: 0;
  /* border: 1px dotted rgb(255, 0, 0); */
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  background-color: $app-bg;
  // width: 2560px;
  // margin: 0 auto;
  background-color: $app-bg;
}
.v-main,
.v-form {
  background-color: $app-bg;
}
.v-field--appended {
  padding-left: 0;
  border-color: rgba(0, 0, 0, 0.1) !important;
  // border-color: red !important;
  // &.v-field--active{
  //   border-color: red;
  //   background-color: violet;
  // }
}
.v-file-input {
  * {
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
}
.v-file-input .v-field--error {
  * {
    border-color: red !important;
    
  }
 
  .upload {
    border: 2px solid red;
  }
  
}
.v-file-input .v-field--focused {
  .upload {
    border-width: 2px;
  }
  
}
.v-messages__message {
  // border: 1px solid red;
  text-align: left;
}
// .v-input__control {
//   border-color: red !important;
// }
#app {
  max-width: 2560px;
  margin: 0 auto;
}

.v-btn--rounded {
  height: 40px !important;
  font-size: 16px;
  text-transform: none;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: normal;
  // background-color: $app-primary !important;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
  &:hover {
    background-color: $app-primary-muted !important;
  }
}
.v-input__prepend {
  display: none;
}
.v-field__prepend-inner {
  margin: 0;
  padding: 0;
  //
  & .v-btn {
    display: flex !important;
    height: inherit;
  }
}

// .v-input__control{
//   & *{
//     border-width: 1px;
//    }
// }
// .v-field--focused {
//  background-color: #00bdd3;
// }
